# Entorno y Secretos (SIGTA §3.3.4)
.env
.env.backup
.env.production

# Dependencias del Proyecto
/vendor/
/node_modules/
/npm-debug.log
/yarn-error.log

# Archivos de Almacenamiento y Adjuntos Privados (SIGTA §2.2, §2.3.2)
/storage/*.key
/storage/app/private/*
!/storage/app/private/.gitkeep
/storage/framework/cache/*
!/storage/framework/cache/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep
/database/*.sqlite
/database/*.sqlite-journal

# Compilados y Cobertura de Pruebas (SIGTA §4.8)
/public/build/
/public/hot/
/storage/cobertura/
.phpunit.result.cache

# Archivos Locales de Sistema y Editores
.DS_Store
Thumbs.db
/.idea/
/.vscode/
*.swp
